<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <context-param>
    <param-name>default-datasource</param-name>
    <param-value>ecosystem</param-value>
  </context-param>
  <context-param>
    <param-name>appelement</param-name>
    <param-value>start.js</param-value>
  </context-param>
  <context-param>
    <param-name>global-api</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>com.eas.server.httpservlet.PlatypusSessionsSynchronizer</listener-class>
  </listener>
  <servlet>
    <servlet-name>PlatypusServlet</servlet-name>
    <servlet-class>com.eas.server.httpservlet.PlatypusHttpServlet</servlet-class>
    <async-supported>true</async-supported>
    <multipart-config>
      <location>C:/Users/Алексей/Documents/NetBeansProjects/ecosystem/pub</location>
      <max-file-size>2097152</max-file-size>
      <max-request-size>2165824</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlatypusServlet</servlet-name>
    <url-pattern>/application/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>jdbc:h2:tcp://localhost/c:\Users\Алексей\Documents\NetBeansProjects\platypusuidemo\pet_hotel [test на PUBLIC]</description>
    <res-ref-name>H2_PET_HOTEL</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:oracle:thin:@asvr:1521:adb [eas на EAS]</description>
    <res-ref-name>test_db</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:oracle:thin:@asvr:1521:adb [hr на HR]</description>
    <res-ref-name>easHR</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:postgresql://party-ples.ru:5432/clinic [remotedev на information_schema]</description>
    <res-ref-name>clinic</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:postgresql://party-ples.ru:5432/clinic_dev [remotedev на public]</description>
    <res-ref-name>clinic_dev_home</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:postgresql://party-ples.ru:5432/TSG_MERGE [tsg_main на tsg_main]</description>
    <res-ref-name>TSG_MERGE</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:postgresql://party-ples.ru:5432/operinfo [remotedev на public]</description>
    <res-ref-name>operinfo_cache</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:postgresql://party-ples.ru:5432/TSG [remotedev на tsg_main]</description>
    <res-ref-name>tsg_home</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:postgresql://192.168.10.156:5432/cafeErpDeveloper [remotedev на cafeErp]</description>
    <res-ref-name>cafeErpDeveloper</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:postgresql://party-ples.ru:5432/lounge [remotedev на public]</description>
    <res-ref-name>Lounge</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>jdbc:postgresql://party-ples.ru:5432/smartecosystem [remotedev на public]</description>
    <res-ref-name>ecosystem</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>application-start.html</welcome-file>
  </welcome-file-list>
</web-app>
